body {
  font-family: Lato;
  color: white;
  background: black;
}
#nav{
  width: 400px;
  height: 60px;
  background: darkslategray;
  margin-left: 35%;
  margin-top: 10px;
}
#nav p{
  margin-left:35%;
  margin-bottom:10px;
}
#prod{
  width: 400px;
  background: darkslategray;
  margin-left:35%;
}
#prod div{
  margin-left:35%;
  margin-top:10%;
  min-height:125px;
}